<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know India | Rules</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://trishna-ui-git-development-hnh013.vercel.app/styles/main.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="grid-container-docs">
        <aside class="aside-docs bg-smoke">
            <div class="px-sm py-xs pos-rel hide-drs">
                <span class="px-sm py-xs f-2x pos-abs top-rgt-0 txt-sun material-icons close-btn">clear</span>
            </div>
            <div class="px-sm py-sm">
                <div class="d-flex fd-col jc-c ai-c f-w-600 f-125x">
                    <div class="px-xs py-sm ta-c"><a href="./rules.html">Rules</a></div>
                    <div class="px-xs py-sm ta-c"><a href="./category.html">Categories</a></div>
                    <div class="px-xs py-sm ta-c"><a href="#">LeaderBoards</a></div>
                    <div class="px-xs py-sm ta-c"><a href="#">Profile</a></div>
                    <div class="px-xs py-sm ta-c f-w-800 txt-sun"><a href="#">Play Quiz</a></div>
                    <div class="px-xs py-sm ta-c f-w-800 txt-eco"><a href="#">Sign Up</a></div>
                </div>
            </div>
        </aside>
        <main class="main-docs category-container d-flex fd-col jc-sb">
            <div class="f-2x f-w-800 px-sm py-sm txt-over pos-rel">
                <span class="pos-rel">
                    <span class="hide-drs">
                        <span class="f-2x material-icons txt-over add-btn hide">add_circle</span>
                    </span>
                    <a class="d-flex ai-c fw-wrap" href="../index.html">KnowIndiaQuiz <span class="txt-fire f-2x"> . </span> com</a>
                </span>
            </div>
            <div class="px-sm py-sm">
                <div class="f-2x f-w-700 txt-over">Rules & Regulations</div>
                <div class="f-15x f-w-600 txt-over">These Some general Do's and Don'ts while playing quizes.</div>
            </div>
            <div class="px-sm py-sm">
            <div class="px-sm py-sm d-flex fd-col bg-smoke">
            <ul class="ul pl-sm f-125x f-w-500">
                <li class="list-item">Do try to finish the quiz in minimum amount of time to earn maximum points.</li>
                <li class="list-item">The timer for each question will run for 20 seconds.</li> 
                <li class="li">If you do not know an answer, please click on the pass button so you can save time and move forward to next quesitions.</li>
                <li class="li">If you have selected a quiz and started, that quiz will be added to your records as  attempted.</li>
                <li class="li">Leaving the quiz unattended or halfway will result in no scores being awarded, and result will be considered as Fail.</li> 
                <li class="li">Leaving 3 straight questions unanswered for time to run out will also result in the quiz to automatically close. </li>  
                <li class="li">Please do not search google or other resource in-bwtween the quizes as it takes out all the fun.</li> 
                <li class="li">Do not try to manipulate quizzes already attempted by creating multtple IDs.</li> 
                <li class="li">If you do not like the experience do tell us in the feeback box that appears after you have completed a quiz.</li>
                <li class="li">Please do not use derogatory comments or verbal abuses in feeback forms.</li> 
                <li class="li">Do not bully or abuse other players on the platform, as this will be considered and judged under cyber-bullying.</li> 
            </ul>
            </div>
            </div>
        </main>
        <footer class="footer-docs">
            <div class="d-flex fd-col">
                <div class="bg-over px-sm py-md txt-smoke d-flex fw-wrap gap-1 jc-sb">
                    <div>
                        <div class="f-2x f-w-600">Signup to our 
                            <span class="txt-sun f-w-800">Indo</span><span class="txt-eco f-w-800">Pedia</span> newsletter today</div>
                        <div class="f-11x f-w-500 ">Get daily facts & news on your phone <span class="txt-eco f-w-800">for Free !</span> </div>
                    </div>
                    <div class="d-flex ai-c">
                        <input type="text" class="px-xs py-xs"><button class="btn btn-sun bdr-rad-sm">
                        <span class="f-w-800">SIgn Up</span></button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="../js/index.js"></script>
</html>